@import "../fonts/fonts.css";

html, body {
    font-family: 'Play', sans-serif;
    background: #f6f7f8;
    box-sizing: border-box;
}

section {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 800px;
    background: #fff;
    border-radius: 25px;
    border-top: 5px solid #333;

}

.mb-3 {
    margin-bottom: 30px;
}